# Created by https://www.toptal.com/developers/gitignore/api/libreoffice
# Edit at https://www.toptal.com/developers/gitignore?templates=libreoffice

### LibreOffice ###
# LibreOffice locks
.~lock.*#
.DS_Store

# End of https://www.toptal.com/developers/gitignore/api/libreoffice
